.container {
    display :flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0px;
    
}

/* Formulario*/

.formulario {
    margin: 20px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 2%;
}

/* Busqueda*/
.table {
    border: 1px solid black;
    margin:20px;
    padding: 20px;
    border-radius: 2%;
}


.formularioProduct {
    margin: 10px;
    padding: 10px;
    
    /* flex-grow: 1; */
    width: 400px;

}

/* Busqueda*/
.tabla {
    padding: 10px;
    margin:10px;
    
    flex-grow: 2;
}


.header {
    background-color: gainsboro; 
}

.header td{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.body td{
    padding: 5px;
}



