.container {
    display :flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

/* Formulario*/

.form {
    margin: 20px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 2%;
}

/* Busqueda*/
.table {
    border: 1px solid black;
    margin:20px;
    padding: 20px;
    border-radius: 2%;
}

.header {
    background-color: gainsboro; 
}

.header td{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.body td{
    padding: 5px;
}


