.form{
  display: center;
  margin: 10px;
  border: 2px solid gray;
  position: absolute;
  top: 40%;
  left: 40%;
  border-radius: 5px;


}

#submitForm {
  background-color: red;
  border-radius: 5px;
  border: none;
  position: relative;
  top: 30%;
  left: 30%;

}

.form input {
  margin: 10px;
  font-size: 16px;
  padding: 10px
}

