.form{
  display: left;
  margin: 10px;
  border: 2px solid gray;
  position: absolute;
  top: 10%;
  left: 10%;
  border-radius: 5px;


}

#submitForm {
  background-color: red;
  border-radius: 5px;
  border: none;
  position: relative;
  top: 10%;
  left: 10%;

}

.form input {
  margin: 10px;
  font-size: 16px;
  padding: 10px
}

